.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 376px;
    height: 90px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;
}
#logo-bee{
    width: 92px;
    height: 58px;
    margin-left: 30px;
    background: url('../../imgs/logo-bee.png');
}
#logo-bigtester{
    width: 156px;
    height: 42px;
    margin-right: 30px;
    background: url('../../imgs/logo-bigtester.png');
}